body {
    font-family: 'Roboto', sans-serif;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.modal__box {
    box-sizing: border-box;
    background-color: white;
    width: 85%;
    height: 25em;
    padding: 1em;
    border-radius: 8px;
}

.modal__box button:first-child {
    border: none;
    background-color: transparent;
    display: block;
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal__box img {
    width: 100%;
    height: calc(100% - 1.81em);
}



.header {
    height: 20vh;
    background-color: #2f0601;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
}

.header__logo {
    width: 12em;
}

.header__title {
    font-family: 'Cinzel', serif;
    color: white;
    letter-spacing: 2px;
}

.cardapioMenu {
    height: 60vh;
    background-color: #E6E3C8;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 4em;
}

.cardapioMenu__button {
    background-color: white;
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #1a1a1a;
    width: 5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #2f0601;
    height: 30vh;
    padding-top: 1px;
    text-align: center;
    color: #ba5c12;
}

.footer__title {
    font-family: 'Cinzel', serif;
}

.footer__social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer__social i {
    font-size: 1.6em;
}