body {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 20vh;
    background-color: #2f0601;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
}

.header__logo {
    width: 50vw;
}

.header__title {
    font-family: 'Cinzel', serif;
    color: white;
    letter-spacing: 2px;
}

.cardapioMenu {
    height: 60vh;
    background-color: #E6E3C8;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cardapioMenu__button {
    background-color: white;
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #1a1a1a;
}

.footer {
    background-color: #2f0601;
    height: 30vh;
    padding-top: 1px;
    text-align: center;
    color: #ba5c12;
}

.footer__title {
    font-family: 'Cinzel', serif;
}

.footer__social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer__social i {
    font-size: 1.6em;
}